* {
    /* 初始化 清除页面元素的内外边距 */
    padding: 0;
    margin: 0;
    /* 盒子模型 */
    box-sizing: border-box;
}
body {
    /* 弹性布局 让页面元素垂直+水平居中 */
    display: flex;
    justify-content: center;
    align-items: center;
    /* 让页面始终占浏览器可视区域总高度 */
    height: 100vh;
    /* 背景颜色 */
    background-color: #00BFFF;
}
.login {
    /* 弹性布局 */
    display: flex;
    /* 让弹性项目垂直排列 */
    flex-direction: column;
    /* 让弹性项目在交叉轴方向水平居中 */
    align-items: center;
    width: 400px;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.4);
}
.login h2 {
    color: #fff;
    margin-bottom: 30px;

}

.loginbtn{
    display: block;
    width: 100%;
    height: 50px;
    border: none;
    background: linear-gradient(120deg,#03e9f4, #8e44ad);
    background-size: 200%;
    color: #fff;

    cursor: pointer;
    transition: .5s;
}

.login .login_box {
    /* 相对定位 */
    position: relative;
    width: 100%;
}
.login .login_box input {
    /* 清除input框的黑边 */
    outline: none;
    border: none;
    width: 100%;
    padding: 10px 0;
    margin-bottom: 30px;
    color: #fff;
    font-size: 16px;
    border-bottom: 1px solid #fff;
    /* 背景颜色为透明 */
    background-color: transparent;
}
.login .login_box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    color: #fff;
    pointer-events: none;
    /* 加个过渡 */
    transition: all 0.5s;
}
/* :focus 选择器是当input获得焦点是触发的样式 */
/* :valid 选择器是判断input框的内容是否合法 */
.login .login_box input:focus + label,
.login .login_box input:valid + label {
    top: -20px;
    color: #03e9f4;
    font-size: 12px;
}
.login a {
    overflow: hidden;
    position: relative;
    padding: 10px 20px;
    color: #03f4f4;
    /* 取消a表现原有的下划线 */
    text-decoration: none;
    /* 同样加个过渡 */
    transition: all 0.5s;
}
.login a:hover {
    color: #fff;
    border-radius: 5px;
    background-color: #03e9f4;
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}
.login a span {
    position: absolute;
}
.login a span:first-child {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    /* to right 就是往右边 */
    background: linear-gradient(to right, transparent, #03e9f4);
    /* 动画 名称 时长 */
    animation: move1 3s linear infinite;
}
.login a span:nth-child(2) {
    right: 0;
    top: -100%;
    width: 2px;
    height: 100%;
    background: linear-gradient(transparent, #03e9f4);
    /* 0.25s延迟时间 */
    animation: move2 1s linear 0.25s infinite;
}
.login a span:nth-child(3) {
    right: -100%;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to left, transparent, #03e9f4);
    animation: move3 1s linear 0.5s infinite;
}
.login a span:last-child {
    left: 0;
    bottom: -100%;
    width: 2px;
    height: 100%;
    background: linear-gradient(#03e9f4, transparent);
    animation: move4 1s linear 0.75s infinite;
}
/* 动画 */
@keyframes move1 {
    0% {
        left: -100%;
    }
    50%,
    100% {
        left: 100%;
    }
}
@keyframes move2 {
    0% {
        top: -100%;
    }
    50%,
    100% {
        top: 100%;
    }
}
@keyframes move3 {
    0% {
        right: -100%;
    }
    50%,
    100% {
        right: 100%;
    }
}
@keyframes move4 {
    0% {
        bottom: -100%;
    }
    50%,
    100% {
        bottom: 100%;
    }
}
